/* html, body {
    background-color: #eeeeee;
} */
#com-chilipeppr-widget-wcs.panel {
    background-color: transparent;
    border: transparent;
}
#com-chilipeppr-widget-wcs .panel-body {
    background-color: transparent;
    /* height:200px; */
}
#com-chilipeppr-widget-wcs #svgWcs, #svgWcs text {
    font-family: sans-serif;
}

#com-chilipeppr-widget-wcs #svgWcs .wcsLayer path, #com-chilipeppr-widget-wcs #svgWcs .wcsLayer text {
    cursor:pointer;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer path {
    fill:#d7d7d7;
    stroke:#000000;
    stroke-width:0.2;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer:hover path {
    fill:#d9edf7;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer:active path {
    fill:#337ab7 !important;
}
#com-chilipeppr-widget-wcs #g53 {
    stroke-dasharray:1, 0.75;
}
#com-chilipeppr-widget-wcs #gAddBtn.wcsLayer path {
    stroke-width:0.3;
    stroke-opacity:0.5;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer.active path {
    fill:#dff0d8;
    stroke-width:0.025;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer.active.active-verified path {
    stroke-width:0.35;
}
/* #com-chilipeppr-widget-wcs #svgWcs .wcsLayer.active .wcs-minusbtn {
    fill:#999999 !important;
} */
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer .wcs-minusbtn path {
    fill:#dddddd !important;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer .wcs-minusbtn:hover path {
    fill:#bbbbbb !important;
}
#com-chilipeppr-widget-wcs #svgWcs .wcsLayer .wcs-minusbtn:active path {
    fill:#666666 !important;
}
#com-chilipeppr-widget-wcs #svgWcs #g53 .wcs-minusbtn {
    display:none;
}
#com-chilipeppr-widget-wcs #svgWcs #g54 .wcs-minusbtn {
    display:none;
}