
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>Gcode Parser</title>
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/dropzone.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><!-- <img class="responsive-img" src="/images/dida-logo.png"  alt=""> -->DIDA</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#parser-wrapper">PARSER</a></li>
          <li><a href="#offset-wrapper">OFFSET</a></li>
        </ul>
      </div>
    </nav>
  </div>
        

	<div class="parser-wrapper scrollspy" id="parser-wrapper">
		<h1>G-CODE PARSER</h1>
		<div class="area">
			<form action="/upload" method="POST" class="dropzone" id="dropzoneFileUpload" enctype="multipart/form-data">
				<!-- <input type="file" name="file">
				<input type="submit" value="Enviar"> -->
			</form>
		</div>
	</div>
	<br><br><br>
	<div class="offset-wrapper scrollspy row" id="offset-wrapper">
		{% include "offset.html" %}
	</div>

  <div class="controls-wrapper scrollspy row" id="controls-wrapper">
    {% include "controls.html" %}
  </div>

	 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Descripción</h5>
                <p class="grey-text text-lighten-4">Subir el CODIGO G previo a su utilizacion en chilipeppr. Administrar las herramientas de la CNC</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Componentes</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#parser-wrapper">PARSER</a></li>
                  <li><a class="grey-text text-lighten-3" href="#offset-wrapper">OFFSET</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            LYNEXT © 2016 Derechos Reservados
            </div>
          </div>
        </footer>
	
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script src="/js/dropzone.js"></script>
	<script src="/js/app.js"></script>
  <script src="/js/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
    socket.on('reload', function(){
      console.log('reloading');
      window.location.reload();
    });
  
  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
</body>
</html>
