{% if availableTools != null %}
<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nueva Herramienta</a>
{% endif %}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Nueva Herramienta</h4>

      <div class="row">
    <form class="col s12" method="POST" action="/save-tool">
      <div class="row">
        <div class="input-field col s6">
	  <select name="pocket">
		  {% for pocket in availablePockets %}
		  <option value="{{pocket}}"> {{pocket}}</option>
		  {% endfor %}
	  </select>
          <label for="first_name">Pocket</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="name">
          <label for="last_name">Nombre</label>
        </div>
	<div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lenght">
          <label for="last_name">Longitud</label>
        </div>
	<div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="offset">
          <label for="last_name">Offset</label>
        </div>
	<div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="diameter">
          <label for="last_name">Diametro</label>
        </div>
      </div>
       <div class="row"><button class="btn">Guardar</button></div>
    </form>
  </div>

    </div>
  </div> 

   <div class="col s12 m10 push-m1">
    <h1>CONTROL DE HERRAMIENTAS</h1>
      {% if spindleTool %}
          <span class="new badge spindle" data-badge-caption="HUSILLO">T{{spindleTool.id}} EN </span>
      {% else %}
          <span class="new badge spindle" data-badge-caption="HUSILLO">NO HAY HERRAMIENTA EN EL</span>
      {% endif %}

          <ul class="collapsible" data-collapsible="accordion">
            {% for chunk in data %}
            <li>
              <div class="collapsible-header"> GRUPO: {{chunk[0].id}} - {{chunk[chunk.length - 1].id}}</div>          
              <div class="collapsible-body" style="background: #ddd">
                <ul class="collapsible" data-collapsible="accordion">
                 {% for item in chunk %}

                 <li id="{{item.id}}" class="item">
                   <div class="collapsible-header"><span class="badge">{% if item.pocket == 0 %} <span class="new badge" data-badge-caption="HUSILLO" style="margin: -.5em"></span> {% else %} <span class="new badge blue" data-badge-caption="POCKET" style="margin: -.5em">{{item.pocket}}</span> {% endif %}</span>T{{item.id}}. {{item.name}} </div>
                   <div class="collapsible-body" style="background: #fff">
                     <table class="striped">
                       <thead>
                         <tr>
                             <th width="100">Pocket</th>
                             <th>Nombre</th>
                             <th>Estado</th>
                             <th width="100">Longitud</th>
                             <th width="100">OFFSET</th>
                             <th width="100">Diametro</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <th><div class="input-field col s12">
                               <select class="pocket">
                                 {% for pocket in pockets %}

                                 <option value="{{pocket}}" {% if item.pocket  == pocket %} selected="selected" {% endif %}>{% if pocket == 0 %}HUSILLO{% else %}{{pocket}}{% endif %}</option>
                                 {% endfor %}
                               </select>
                             </div></th>
                             <th><input class="name" type="text" value="{{item.name}}"></th>
                           <th>
                             <div class="input-field col s12">
                               <select class="status">
                                 <option value="0" {% if item.status  == 0 %} selected="selected" {% endif%}>Herramienta no lista</option>
                                 <option value="1" {% if item.status  == 1 %} selected="selected" {% endif%}>Herramienta Lista</option>
                                 <option value="2" {% if item.status  == 2 %} selected="selected" {% endif%}>Herramienta en mal estado</option>
                                 
                               </select>
                             </div>
                           </th>
                           <th><input class="length pull-left" type="text" value="{{item.length}}"><span class="pull-right">mm</span></th>
                           <th>
                            <div class="quantity">
                              <input class="offset pull-left" type="number" min="-10" max="10" step="1" value="{{item.offset}}">
                            </div>

                           </th>
                           <th><input class="diameter pull-left" type="text" value="{{item.diameter}}"><span class="pull-right">mm</span></th>
                           <th><a class="btn red" href="/delete/{{item.id}}">Eliminar</a></th>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 </li>
                {% endfor %}  
                </ul>
              </div>
           </li>
           
           {% endfor %}
          </ul>
    </div>
   
   <div class="row">
    	 <p style="width: 20%"> Pocket Libres: <span class="new badge" data-badge-caption="Libre">{{availablePockets}}</span></p>
   </div>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large blue save">
          <i class="large material-icons">done</i>
        </button>
    </div>
