<div class="row">
	<h1>CONTROLES</h1>
</div>
<div class="row">
<div class="col s12 m10 push-m1">
{% for control in controls %}
		
	    <div class="col s12 m6">
	      <div class="card-panel grey darken-3">
	      {% if control.status.length == 2 %}
	        <div class="switch" >
	        	<span class="white-text" style="width: 50%; display: inline-block; border-right: 2px solid white; text-align: center">{{control.name}}</span>
	           <label class="white-text" style="width: 45%; display: inline-block; text-align: center">
	             {{control.status[0]}}
	             <input class="control-switch" type="checkbox" {% if control.value %} checked="checked" {% endif %}>
	             <span class="lever"></span>
	             {{control.status[1]}}
	           </label>

	         </div>
	        {% else %}
	        <div class="radio">
	        	<span class="white-text" style="width: 20%; display: inline-block; border-right: 2px solid white; text-align: center">{{control.name}}</span>
	        	<p style="width: 78%; display: inline-block; text-align: center">
        	      <span style="display: inline-block;width: 30%">
        	      	<input class="control-radio" class="with-gap" name="group1" type="radio" id="{{control.status[0]}}" />
        	      	<label class="white-text" for="{{control.status[0]}}">{{control.status[0]}}</label>
        	      </span>
        	    
        	    	
        	      <span style="display: inline-block;width: 30%">
        	      	<input class="control-radio" class="with-gap" name="group1" type="radio" id="{{control.status[1]}}" />
        	      	<label class="white-text" for="{{control.status[1]}}">{{control.status[1]}}</label>
        	      </span>
        	    
        	    
        	      <span style="display: inline-block;width: 30%">
        	      	<input class="control-radio" class="with-gap" name="group1" type="radio" id="{{control.status[2]}}"  />
        	      	<label class="white-text" for="{{control.status[2]}}">{{control.status[2]}}</label>
        	      </span>
        	    </p>
	        </div>
	        {% endif %}
	      </div>
	    </div>
	    
	  
{% endfor %}
</div>
</div>